<nav
  class="navbar top navbar-expand-lg navbar-light d-flex jusitfy-content-space-between"
  [ngClass]="{ 'justify-content-center': !bigDisplay }"
>
  <a class="navbar-brand" [routerLink]="['/']" *ngIf="hasRoute('/kontakt')">
    <img
      src="../../assets/jpg/activity/GremZelen.svg"
      width="100"
      height="50"
      alt=""
    />
  </a>
  <a
    class="navbar-brand pivo mr-auto"
    *ngIf="!hasRoute('/kontakt')"
    [routerLink]="['/kontakt']"
  >
    <img
      src="../../assets/jpg/activity/kontakt.png"
      width="auto"
      height="40"
      alt=""
    />
  </a>
  <a class="navbar-brand" [routerLink]="['/']" *ngIf="hasRoute('/events')">
    <img
      src="../../assets/jpg/activity/GremRdec.svg"
      width="auto"
      height="50"
      alt=""
    />
  </a>

  <a
    class="navbar-brand m-auto"
    [routerLink]="['/']"
    *ngIf="hasRoute('/activityHomePage')"
  >
    <img
      src="../../assets/jpg/activity/GremZelen.svg"
      width="auto"
      height="50"
      alt=""
    />
  </a>

  <a
    class="navbar-brand pivo ml-auto"
    href="https://www.buymeacoffee.com/gremsi"
  >
    <img
      src="../../assets/jpg/activity/beer.png"
      width="auto"
      height="40"
      alt=""
    />
  </a>

  <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/activityHomePage']">Activities</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/addToDb']">Add to DB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="getRandom()">Entry</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/mapa']">Mapa</a> -->
  <!-- </li>
  </ul> -->
</nav>
