<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="goHome()"
      ><button
        type="button"
        class="btn btn-outline-primary"
        data-mdb-ripple-color="dark"
      >
        Kam pa kam
      </button></a
    >

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" (click)="onAddToDb()"
            ><button
              type="button"
              class="btn btn-outline-secondary"
              data-mdb-ripple-color="dark"
            >
              Add to DB
            </button></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onRandomEntry()"
            ><button
              type="button"
              class="btn btn-outline-warning"
              data-mdb-ripple-color="dark"
            >
              Entry
            </button></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
