nav {
  box-shadow: none;
}

svg {
  max-height: 200px;
  max-width: 300px;
}

img {
  fill: black;
}

.eseba {
  margin-left: 2rem;
}

.pivo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.posta {
  padding-left: 0.8em;
}
