<kampakam-navbar *ngIf="displayNavbar"></kampakam-navbar>

<main>
  <div
    class="container flex-column flex-md-row align-items-center justify-content-center"
    *ngIf="loaded"
  >
    <div
      class="row text-center flex-column flex-md-row align-items-center justify-content-center"
    >
      <div class="col-12">
        <h1>{{ entryData.name }}</h1>
      </div>
    </div>
    <div
      class="row flex-column flex-md-row align-items-center justify-content-center"
    >
      <div class="col-6">{{ entryData.description }}</div>
      <div class="col-6">
        <img
          src="https://phantom-marca.unidadeditorial.es/f05288ebbb00fcefb86713d0b435c7fb/resize/1320/f/jpg/assets/multimedia/imagenes/2021/12/10/16391545485537.jpg"
          alt=""
          width="400px"
        />
      </div>
    </div>
  </div>
</main>
