<kampakam-navbar></kampakam-navbar>
<div class="container">
  <div class="row">

    <img src="{{entryData?.image}}" width="300px" height="300px"/>

  </div>

  <div class="row">
    <div class="col-11">
      <table class="table border-bottom-0">
        <tbody>
          <div *ngIf="loaded">
            <tr><h3>Ime: {{entryData.name}} (ID: {{entryData.id}})</h3></tr>
            <tr><td>Cena: <i [ngClass]="entryData.price ? 'pi pi-check greenIcon' : 'pi pi-times redIcon'"></i> </td></tr>
            <tr><td>Dostopnost: <i [ngClass]="entryData.accessibility ? 'pi pi-check greenIcon' : 'pi pi-times redIcon'"></i> </td></tr>
            <tr><td>Nastanitev: <i [ngClass]="entryData.accomodation ? 'pi pi-check greenIcon' : 'pi pi-times redIcon'"></i> </td></tr>
            <tr><td>Letni čas: {{entryData.season}}</tr>
            <tr><td>Opis: {{entryData.description}}</td></tr>
            <tr><td>Občina: {{entryData.municipalityId}}</td></tr> <!-- TODO JOIN in api, so it show the municipality name-->
          </div>
        </tbody>
      </table>
    </div>
    <div class="col-1">
      <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-warning float-end" (click)="edit()"></button>
    </div>
  </div>

</div>

<kampakam-entry-edit-dialog [entryData]="editData" [(display)]="editMode" (displayChange)="editMode=$event" (entryDataChange)="entryDataChange($event)"></kampakam-entry-edit-dialog>
