.redIcon {
  color: red;
}

.greenIcon {
  color: green;
}

.desc {
  border: 0.1em solid black;
  border-radius: 1em;
}

.edit:hover {
  cursor: pointer;
}

.container {
  width: 63.5vw;
  height: 50vh;
  border-radius: 10%;
}

main {
  border-radius: 10px;
}
img {
  border-radius: 50%;
}
