<!--
  Filter by region, municipality => LOCATION
  Filter by entry parameters => DETAILS
  Filter by category, maincategory => CATEGORY
-->

<div class="container">

<div [formGroup]="form">
  <div>
    <h6>Občina</h6>
    <p-treeSelect
      [(ngModel)]="regions"
      [options]="munOptions"
      selectionMode="checkbox"
      [metaKeySelection]="false"
      display="chip"
      formControlName="regions"
    >
    </p-treeSelect>
  </div>

  <div>
    <!-- Location radius, choose from google maps?-->

    <h6>Ime</h6>
    <input
      pInputText
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Izberi ime"
    />

    <h6>Cena</h6>
    <p-inputSwitch
      formControlName="price"
      [(ngModel)]="priceChecked"
    ></p-inputSwitch>

    <h6>Dostopnost</h6>
    <p-inputSwitch
      formControlName="accessibility"
      [(ngModel)]="accessibilityChecked"
    ></p-inputSwitch>

    <h6>Nastanitev</h6>
    <p-inputSwitch
      formControlName="accommodation"
      [(ngModel)]="accommodationChecked"
    ></p-inputSwitch>

    <h6>Letni čas</h6>
    <p-dropdown
      [options]="seasons"
      [ngModel]="selectedSeason"
      optionLabel="name"
      optionValue="name"
      placeholder="Izberi letni čas"
      formControlName="season"
    >
    </p-dropdown>
  </div>

  <div>
    <h6>Kategorije</h6>
    <p-multiSelect
      [options]="categoryOptions"
      [(ngModel)]="selectedCategories"
      formControlName="categories"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      optionValue="id"
      placeholder="Izberi kategorijo"
    >
    </p-multiSelect>
  </div>

  <button pButton label="Poišči" (click)="submit()" class="mt-1"></button>
</div>
</div>
