<!--
  Filter by region, municipality => LOCATION
  Filter by entry parameters => DETAILS
  Filter by category, maincategory => CATEGORY
-->

<main>
  <kampakam-navbar></kampakam-navbar>
  <!--<button pButton (click)="debug()"></button>-->
  <div class="container pb-5">
  <div class="forma justify-content-center align-items-center">
    <div class="row" [formGroup]="form">
      <div class="col-12 formField " *ngIf="!bigDisplay">
        <h6>Regije</h6>
        <p-dropdown styleClass="w-100"
          [options]="regOptions"
          [(ngModel)]="regions"
          optionLabel="label"
          optionValue="value"
          formControlName="regions"
          (onChange)="regionChange($event.value)"
          placeholder="Vse regije">
        </p-dropdown>
      </div>

      <div class="col-lg-8 col-12 formField w-100" *ngIf="bigDisplay">
        <kampakam-mapa [displayNavbar]="false" (regionChange)="mapSelect($event)"></kampakam-mapa>
      </div>

      <div class="col-lg-4 col-12">
        <!-- Location radius, choose from google maps?-->

        <div class="formField">
          <h6>Občine</h6>
          <p-multiSelect
            [options]="munOptions"
            [(ngModel)]="selectedMunicipalities"
            formControlName="municipality"
            optionLabel="label"
            [filter]="true"
            filterBy="label"
            optionValue="value"
            placeholder="Vse občine"
            styleClass="w-100"
            [disabled]="!regions"
          >
          </p-multiSelect>
        </div>

        <div class="formField">
        <h6>Ime</h6>
        <input
          class="ime"
          pInputText
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Izberi ime"
        />
        </div>

        <div class="formField">
        <h6>Cena</h6>
        <p-selectButton
        [options]="priceOptions" [(ngModel)]="priceChecked" formControlName="price"
        optionLabel="name" optionValue="value" styleClass="lessBold"
        ></p-selectButton>
        </div>

        <div class="formField">
        <h6>Dostopnost</h6>
        <p-selectButton
        [options]="accessibilityOptions" [(ngModel)]="accessibilityChecked" formControlName="accessibility"
        optionLabel="name" optionValue="value"
        ></p-selectButton>
        </div>

        <div class="formField">
        <h6>Nastanitev</h6>
        <p-selectButton
        [options]="accommodationOptions" [(ngModel)]="accommodationChecked" formControlName="accommodation"
        optionLabel="name" optionValue="value"
        ></p-selectButton>
        </div>


        <div class="formField">
        <h6>Letni čas</h6>
        <p-dropdown
          [options]="seasons"
          [ngModel]="selectedSeason"
          optionLabel="name"
          optionValue="name"
          placeholder="Izberi letni čas"
          formControlName="season"
          styleClass="w-100"
        >
        </p-dropdown>
        </div>

        <div class="formField">
          <h6>Kategorije</h6>
          <p-multiSelect
            [options]="categoryOptions"
            [(ngModel)]="selectedCategories"
            formControlName="categories"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            optionValue="id"
            placeholder="Izberi kategorijo"
            styleClass="w-100"
          >
          </p-multiSelect>
        </div>
      </div>

      <button pButton label="Poišči" (click)="submit()" class="mt-1 w-75 mx-auto"></button>

    </div>

    <div *ngIf="queryResult">
      <kampakam-query-result
        [data]="queryResult"
      ></kampakam-query-result>
    </div>
  </div>
</div>
</main>
