

<p-dropdown [options]="items" [(ngModel)]="selectedForm" optionLabel="name" optionValue="name" (onChange)="changeDropdown()"></p-dropdown>

<!-- K porihtam autoincrement lahko dava ID input stran-->


<ng-container [ngSwitch]="selectedForm">
  <div *ngSwitchCase="'Region'" class="col-4">

      <form [formGroup]="form">
        <div class="form-group">
          <label>Id</label>
          <input type="number" class="form-control" formControlName="id" placeholder="Enter id">
        </div>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
        </div>
      </form>


  </div>

  <div *ngSwitchCase="'Municipality'" class="col-4">
    <!-- TODO build a municipality form in .ts => either share form and build it according to selectedForm or create on for each entity,
      dropdown with items from api -> getRegions -->
    <form [formGroup]="form">
      <div class="form-group">
        <label>ID</label>
        <input type="number" class="form-control" formControlName="id" placeholder="ID">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Region</label>
        <input type="number" class="form-control" formControlName="regionId" placeholder="Enter region id">
      </div>
    </form>
  </div>

  <div *ngSwitchCase="'Entry'" class="col-4">
    <form [formGroup]="form">
        <h6>ID</h6>
        <input pInputText type="number" class="form-control" formControlName="id" placeholder="ID">

        <h6>Location</h6>
        <input pInputText type="text" class="form-control" formControlName="location" placeholder="Pick a location">

        <h6>Price</h6>
        <input pInputText type="text" class="form-control" formControlName="price" placeholder="Price">

        <h6>Accessibility</h6>
        <input pInputText type="text" class="form-control" formControlName="accessibility" placeholder="Accessibility">

        <h6>Season</h6>
        <input pInputText type="text" class="form-control" formControlName="season" placeholder="Pick a season">

        <h6>Accomodation</h6>
        <input pInputText type="text" class="form-control" formControlName="accomodation" placeholder="Accomodation">

        <h6>Description</h6>
        <input pInputText type="text" class="form-control" formControlName="description" placeholder="Description">

        <h6>Image</h6>
        <input pInputText type="text" class="form-control" formControlName="image" placeholder="Image">


        <!--TODO add formControl names-->
        <h6>Občina</h6>
        <p-dropdown [options]="municipalities" [(ngModel)]="selectedMunicipality" formControlName="municipality"
        optionLabel="name" [filter]="true" filterBy="name"  [showClear]="true" optionValue="id" placeholder="Izberi občino">
        </p-dropdown>

        <h6>Kategorije</h6>
        <p-multiSelect [options]="categories" [(ngModel)]="selectedCategories" formControlName="category"
        optionLabel="name" [filter]="true" filterBy="name" optionValue="id" placeholder="Izberi kategorijo">
        </p-multiSelect>

    </form>
  </div>

  <div *ngSwitchCase="'Category'" class="col-4">
    <form [formGroup]="form">
      <div class="form-group">
        <label>Id</label>
        <input type="number" class="form-control" formControlName="id" placeholder="ID">
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
      </div>

    </form>
  </div>
</ng-container>

<div class="ms-1 mt-1">
<button pButton (click)="submit()" label="Submit"></button>

<button pButton (click)="debug()">Debug</button>
</div>
<!--


</form>
 -->
