<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.0/primeflex.css" />
<kampakam-navbar *ngIf="displayNavbar"></kampakam-navbar>
<div class="container">
  <div [formGroup]="form">

      <div class="formgrid grid">
        <div class="field col-12 md:col-3">
          <label>Ime</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Izberi ime"
          />
        </div>
        <div class="field col-12 md:col-3">
          <label>Lokacija</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="location"
            placeholder="Izberi lokacijo"
          />
        </div>

        <div class="field col-12 md:col-3">
          <label>Sezona</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="season"
            placeholder="Vnesi sezono"
          />
        </div>


      </div>

    <div formArrayName="images" *ngFor="let im of images.controls;let i=index" class="row mb-1">
      <label class="mt-1">Slika {{i+1}}</label>
      <div [formGroupName]="i" class="d-flex align-items-center">
        <input
          pInputText
          type="text"
          class="form-control"
          formControlName="src"
          placeholder="Vnesi URL slike"
          style="flex:1;flex-grow: 0.5"
        />
        <p-button icon="pi pi-plus" class="p-button-rounded ms-1" (click)="addImage()"></p-button>
      </div>

    </div>

    <h6>Cena</h6>
    <p-inputSwitch
      formControlName="price"
      [(ngModel)]="checked"
    ></p-inputSwitch>

    <h6>Dostopnost</h6>
    <p-inputSwitch
      formControlName="accessibility"
      [(ngModel)]="checked1"
    ></p-inputSwitch>

    <h6>Nastanitev</h6>
    <p-inputSwitch
      formControlName="accomodation"
      [(ngModel)]="checked3"
    ></p-inputSwitch>

    <h6>Opis</h6>
    <input
      pInputText
      type="text"
      class="form-control"
      formControlName="description"
      placeholder="Description"
    />

    <h6>Občina</h6>
    <p-multiSelect
      [options]="munOptions"
      [group]="true"
      [(ngModel)]="regions"
      defaultLabel="Izberi občino"
      display="chip"
      [selectionLimit]="1"
      formControlName="municipalityId"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>

    <h6>Kategorije</h6>
    <p-multiSelect
      [options]="categories"
      [(ngModel)]="selectedCategories"
      formControlName="categories"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      optionValue="id"
      placeholder="Izberi kategorijo"
    >
    </p-multiSelect>

    <h6>Oznake</h6>
    <p-chips [(ngModel)]="tags" formControlName="tags" separator=","></p-chips>

  </div>

  <hr />

  <div class="flex flex-column card-container green-container">
    <div class="flex align-items-center justify-content-center">
      <button pButton (click)="submit()" [disabled]="!form.valid" label="Potrdi"></button>
    </div>
  </div>
</div>
