<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.0/primeflex.css" />
<kampakam-navbar *ngIf="displayNavbar"></kampakam-navbar>
<div class="container">
  <div [formGroup]="form">

      <div class="formgrid grid">
        <div class="field col-12 md:col-3">
          <label>Ime</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Izberi ime"
          />
        </div>
        <div class="field col-12 md:col-3">
          <label>Lokacija</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="location"
            placeholder="Izberi lokacijo"
          />
        </div>

        <div class="field col-12 md:col-3">
          <label>Sezona</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="season"
            placeholder="Vnesi sezono"
          />
        </div>

        <div class="field col-12 md:col-3">
          <label>Slika</label>
          <input
            pInputText
            type="text"
            class="form-control"
            formControlName="image"
            placeholder="Vnesi URL slike"
          />
        </div>
      </div>

    <h6>Cena</h6>
    <p-inputSwitch
      formControlName="price"
      [(ngModel)]="checked"
    ></p-inputSwitch>

    <h6>Dostopnost</h6>
    <p-inputSwitch
      formControlName="accessibility"
      [(ngModel)]="checked1"
    ></p-inputSwitch>

    <h6>Nastanitev</h6>
    <p-inputSwitch
      formControlName="accomodation"
      [(ngModel)]="checked3"
    ></p-inputSwitch>

    <h6>Opis</h6>
    <input
      pInputText
      type="text"
      class="form-control"
      formControlName="description"
      placeholder="Description"
    />

    <h6>Občina</h6>
    <p-multiSelect
      [options]="munOptions"
      [group]="true"
      [(ngModel)]="regions"
      defaultLabel="Izberi občino"
      display="chip"
      [selectionLimit]="1"
      formControlName="municipalityId"
    >
      <ng-template let-group pTemplate="group">
        <div class="flex align-items-center">
          <span>{{ group.label }}</span>
        </div>
      </ng-template>
    </p-multiSelect>

    <h6>Kategorije</h6>
    <p-multiSelect
      [options]="categories"
      [(ngModel)]="selectedCategories"
      formControlName="categories"
      optionLabel="name"
      [filter]="true"
      filterBy="name"
      optionValue="id"
      placeholder="Izberi kategorijo"
    >
    </p-multiSelect>
  </div>

  <hr />

  <div class="flex flex-column card-container green-container">
    <div class="flex align-items-center justify-content-center">
      <button pButton (click)="submit()" label="Submit"></button>
    </div>
  </div>
</div>
