<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css" />

<main>
  <kampakam-navbar></kampakam-navbar>
  <div class="container pb-5">
    <div class="forma">
      <!-- Filter here -->
      <div class="card1">
        <p-dataView
          class="dataview"
          #dv
          [value]="data"
          [paginator]="true"
          [rows]="9"
          layout="grid"
        >
          <ng-template pTemplate="header">
            <div
              class="flex flex-column md:flex-row md:justify-content-between"
            >
              <span class="p-float-label">
                <input
                  id="float-input"
                  type="text"
                  class="p-inputtext-lg"
                  pInputText
                />
                <label for="float-input">Išči po imenu</label>
              </span>
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template>
          <ng-template let-event pTemplate="listItem">
            <div class="col-12">
              <div class="event-list-item">
                <a
                  href="https://www.eventim.si/si/vstopnice/vlado-kreslin-ljubljana-krizanke-580516/event.html"
                >
                  <img
                    class="hover"
                    src="https://content.eventim.com/static/uploaded/at/9/n/z/0/9nz0_210_280.webp"
                  />
                </a>

                <div
                  class="event-list-detail d-flex flex-column align-items-center"
                >
                  <div class="event-name-list">Vlado Kreslin</div>
                  <div class="event-location">Kulturni dom Mengeš</div>
                  <div class="event-date">
                    {{ event.date | date: 'd/MM/YYYY hh:mm' }}
                  </div>
                  <div class="event-place">Ljubljana</div>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template let-event pTemplate="gridItem" class="grid">
            <div class="lg:col-4 md:col-4">
              <div class="event-grid-item card">
                <div class="event-grid-item-top">Vlado Kreslin</div>
                <div class="event-grid-item-content">
                  <div class="event-image">
                    <a
                      href="https://www.eventim.si/si/vstopnice/vlado-kreslin-ljubljana-krizanke-580516/event.html"
                    >
                      <img
                        class="hover"
                        src="https://content.eventim.com/static/uploaded/at/9/n/z/0/9nz0_210_280.webp"
                      />
                    </a>
                    <div class="event-name">Kulturni dom Mengeš</div>
                  </div>
                </div>
                <div class="row event-grid-item-bottom">
                  <div class="event-date">
                    {{ event.date | date: 'd/MM/YYYY hh:mm' }}
                  </div>
                  <div class="event-place">Ljubljana</div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</main>
