<main>
  <kampakam-navbar></kampakam-navbar>
  <div class="container pb-5">
    <div class="forma justify-content-center align-items-center">
      <!-- Filter here -->
      <div class="card mt-4">
        <p-dataView #dv [value]="data" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </ng-template>

          <ng-template let-event pTemplate="gridItem">
            <div class="col-4">
              <div class="event-grid-item card">
                <div class="event-grid-item-top">
                  <div class="event-name">
                    {{ event.name }}
                  </div>
                </div>
                <div class="event-grid-item-content">
                  <div class="event-image">
                    <img
                      src="https://www.slovenskenovice.si/media/images/20210918/1029210.2e16d0ba.fill-256x256.jpg"
                    />
                  </div>
                  <div class="event-price">
                    Plačljivo:
                    <i
                      [ngClass]="
                        event.price
                          ? 'pi pi-check greenIcon'
                          : 'pi pi-times redIcon'
                      "
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</main>
