<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css" />

<main>
  <kampakam-navbar></kampakam-navbar>
  <div class="container pb-5">
    <div class="forma">
      <!-- Filter here -->
      <div class="card1">
        <p-dataView
          class="dataview"
          #dv
          [value]="filteredData"
          [paginator]="true"
          [rows]="9"
          [layout]="layout"
          filterBy="name"
        >

          <!-- TOOLBAR -->
          <ng-template pTemplate="header">
            <div
              class="flex flex-column md:flex-row md:justify-content-between"
            >
            <span class="p-input-icon-left p-mb-2 p-mb-md-0">
              <input #filterInput type="search" pInputText placeholder="Ime dogodka" (input)="filterName($event)" class="form-control">
            </span>

            <p-calendar [(ngModel)]="fromDate" dateFormat="dd/mm/yy" (ngModelChange)="fromDateChange()" [maxDate]="toDate" placeholder="Od"></p-calendar>
            <p-calendar [(ngModel)]="toDate" dateFormat="dd/mm/yy" (ngModelChange)="toDateChange()" [minDate]="fromDate" placeholder="Do"></p-calendar>
            <p-autoComplete [(ngModel)]="selectedCategories"
            [suggestions]="filteredSuggestions" (completeMethod)="search($event)"
            field="name" [multiple]="true" placeholder="Izberi kategorije"
            (ngModelChange)="test($event)"></p-autoComplete>
            <button pButton label="Reset" (click)="resetFilters()"></button>
            </div>
          </ng-template>


          <!-- LIST VIEW -->
          <ng-template let-event pTemplate="listItem">
            <div class="col-12">
              <div class="event-list-item">
                <a [href]="event.link">
                  <img class="hover" [src]="event.image" />
                </a>

                <div
                  class="event-list-detail d-flex flex-column align-items-center"
                >
                  <div class="event-name-list naslovcic">{{ event.name }}</div>
                  <div class="event-location">{{ event.location }}</div>
                  <div class="event-date">
                    {{ event.date | date: 'd/MM/YYYY hh:mm' }}
                  </div>
                  <div class="event-place">{{event.municipality.name}}</div>
                  <span *ngFor="let tag of event.eventCategories"><p-tag [value]="tag.name"></p-tag></span>
                </div>
              </div>
            </div>
          </ng-template>

          <!-- GRID VIEW -->
          <ng-template let-event pTemplate="gridItem" class="grid">
            <div class="lg:col-4 md:col-4">
              <div class="event-grid-item card">
                <div class="event-grid-item-top naslov">
                  {{ event.name }}
                </div>
                <div class="event-grid-item-content">
                  <div class="event-image">
                    <a [href]="event.link">
                      <img class="hover" [src]="event.image" />
                    </a>
                    <div class="event-name">{{ event.location }}</div>
                  </div>
                </div>
                <div class="row event-grid-item-bottom">
                  <div class="event-date">
                    {{ event.date | date: 'd/MM/YYYY hh:mm' }}
                  </div>
                  <div class="event-place">{{event.municipality.name}}</div>
                  <span *ngFor="let tag of event.eventCategories"><p-tag [value]="tag.name"></p-tag></span>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</main>
